[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
pydantic = "*"
passlib = {version = "*", extras = ["bcrypt"]}
python-jose = {version = "*", extras = ["cryptography"]}
langchain = "*"
alembic = "*"
python-dotenv = "*"
sqlalchemy = {version = "*", extras = ["asyncio"]}
langchain-community = "*"
unstructured = {version = "*", extras = ["all-docs"]}
python-multipart = "*"
clean-text = "*"
pdfplumber = "*"
pymupdf = "*"
beautifulsoup4 = "*"
pdftotext = "*"
tiktoken = "*"
pgvector = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11.4"
